<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TImagesMapper">

    <resultMap type="TImages" id="TImagesResult">
        <result property="id"    column="id"    />
        <result property="folderId"    column="folder_id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="sourceUrl"    column="source_url"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="size"    column="size"    />
        <result property="mime"    column="mime"    />
        <result property="suffix"    column="suffix"    />
        <result property="originalTime"    column="original_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTImagesVo">
        select id, folder_id,name, url,source_url, width, height, `size`, mime, suffix,original_time,create_time, remark
        from t_images
    </sql>

    <select id="selectTImagesList" resultMap="TImagesResult">
        <include refid="selectTImagesVo"/>
        where folder_id = #{folderId}
        order by `id` asc
    </select>
    <select id="selectTImagesById" resultMap="TImagesResult">
        <include refid="selectTImagesVo"/>
        where id = #{id}
    </select>

    <insert id="insertTImages" parameterType="TImages" useGeneratedKeys="true" keyProperty="id">
        insert into t_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="folderId != null">folder_id,</if>
            <if test="name != null">`name`,</if>
            <if test="url != null">url,</if>
            <if test="sourceUrl != null">source_url,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="size != null">`size`,</if>
            <if test="mime != null">mime,</if>
            <if test="suffix != null">suffix,</if>
            <if test="originalTime != null">original_time,</if>
            <if test="remark != null">remark,</if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="folderId != null">#{folderId},</if>
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
            <if test="sourceUrl != null">#{sourceUrl},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="size != null">#{size},</if>
            <if test="mime != null">#{mime},</if>
            <if test="suffix != null">#{suffix},</if>
            <if test="originalTime != null">#{originalTime},</if>
            <if test="remark != null">#{remark},</if>
            now(),
        </trim>
    </insert>

    <delete id="deleteTImagesByIds">
        delete from t_images where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>